*{
    box-sizing: border-box;
}
.wrapper{
    background: linear-gradient(178.18deg,#FD749B -13.56%,#281AC8 158.3%);
    width: 1500px;
    height: 955px;
    position: relative;
}
.wrapper::before,
.wrapper::after{
   display: block;
    width: 100%;
    position: absolute;
    left: 0;
}
.wrapper::before{
    content: url("mask.png");
    top: -45px;
}
.wrapper::after{
    content: url("path1.png");
    bottom: -30px;
}
img{
    width: 974px;
    height: 337px;
    margin: auto;
}